.container {
  width: 100%;
  height: 100vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  background-color: cadetblue;
  padding: 20px;
  border-radius: 10px;
}

input {
  border: none;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: darkcyan;
  margin: 2px;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
}

input[type='button']:hover{
  background-color: brown;
}

.display {
  display: flex;
  justify-content: flex-end;
  margin: 10px 15px
}

.display input{
  text-align: center;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
}

input.equal {
  width: 125px;
}